{% extends 'shop/base.html' %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <ul>
            <li {% if not category %} class="selected" {% endif %}>
                <a href="{% url 'shop:product_list' %}">Все</a>
            </li>
            {% for product_category in categories %}
                <li {% if product_category.slug == category.slug %} class="selected" {% endif %}>
                    <a href="{{ product_category.get_absolute_url }}">{{ product_category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1></h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" alt="">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}