{% extends 'shop/base.html' %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block content %}
    <section class="order-create-wrapper">
    <h1>Оформление заказа</h1>
        <div class="order-info">
            <h3>Ваш заказ</h3>
            <ul>
                {% for item in cart %}
                    <li>
                        {{ item.quantity }}x{{ item.product.name }}
                        <span>${{ item.total_price }}</span>
                    </li>
                    {% if cart.coupon %}
                    <li>
                        Купон "{{ cart.coupon.code }} - {{ cart.coupon.discount }}"
                    <span class="neg">-${{ cart.get_discount }}</span>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <p>Итоговая цена: ${{ cart.get_total_price_after_discount }}</p>
        </div>
        <form action="{% url 'orders:create_order' %}" method="post" class="order-form">
            {% csrf_token %}
            {{ order_form.as_p }}
            <p><input type="submit" value="Оформить заказ"></p>
        </form>
    </section>
{% endblock %}